body {
    width: 200px;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 200px;
    align-content: space-evenly;
}

.red{
    background-color: red;
}